<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>justify</title>
	<link rel="stylesheet" href="">
	<style type="text/css">
		.row{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			flex-direction:row;
			border: 1px solid #000;
			margin: 0px auto;


		}

		.row div{
			border: 1px solid red;
			flex-basis: 200px;
			flex-shrink: 1;
		}
		
	</style>
</head>
<body>
	<div class="row">
		<div class="item">a</div>
		<div class="item">b</div>
		<div class="item">c</div>
	</div>
</body>
</html>