<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置同mybatis的整合 -->
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="accp" />
	</bean>
	<!-- 配置sessionfactory,获取db连接 -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置需要加载的mapper文件 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:/mybatis/auth/UserInfoMapper.xml</value>
			</list>
		</property>
		<property name="typeAliasesPackage" value="com.gdglc.spring.bean" />
	</bean>
	<!-- 生成Dao的代理对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sessionFactory" />
		<property name="basePackage" value="com.gdglc.spring.dao" />
	</bean>
	
	<!-- 配置业务对象 -->
	<bean id="userBiz" class="com.gdglc.spring.biz.impl.auth.UserBizImpl">
		<property name="mapper" ref="userInfoMapper"></property>
	</bean>
	<bean id="userAction" class="com.gdglc.spring.struts.controller.auth.UserAction" scope="prototype">
		<property name="myUserBiz" ref="userBiz"/>
	</bean>
	<!-- 配置事务管理 -->
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 定义事务控制规则 -->
	<tx:advice id="txadvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 先配置只读的 -->
			<tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="show*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
		</tx:attributes>
	</tx:advice>
	<!-- 定义一个事务切面 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.gdglc.spring.biz..*.*(..))" id="trPoint"/>
		<aop:advisor advice-ref="txadvice" pointcut-ref="trPoint"/>
	</aop:config>
</beans>