<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>warp</title>
	<link rel="stylesheet" href="">
	<style type="text/css" media="screen">
		.box{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap-reverse;
		}
		.box div{
			border: 1px solid red;
			flex-basis: 300px;
		}

		.box div:nth-child(1){
			flex-basis: 300px;
		}
	</style>
</head>
<body>
	<div class="box">
		<div>1</div>
		<div>2</div>
		<div>3</div>
	</div>	
</body>
</html>